
*{
    font-family: 'Epilogue', sans-serif;
}


/***************** app.blade.php ***************/
.bo-nav-item{
    display:flex;
}




.bo-restaurant-cover {

    //     height: 200px;
    //     width: 100%;
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border: solid 1px #38A3A5;
        border-radius: 10px;

    }
}

.bo-btn-action{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.back-green {
    background-color: rgba($color: #90ee90, $alpha: 0.4);
}
.back-red {
    background-color: rgba($color: #f08080, $alpha: 0.4);
}

#modal-container {
    background: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    &.show {
      pointer-events: auto;
      opacity: 1;
    }
    .bo-modal {
      background: white;
      padding: 2rem;
      border-radius: 0.5rem;
      width: min(400px, 100%);
      box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2);
      text-align: center;

      p {
        font-size: 0.9rem;
        opacity: 0.7;
        margin: 1rem auto;
      }
      form {
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
    }
  }





  /************* app.blade.php --> HEADER ******************/

.bo-nav{
    background-color: #1E282F;
    height: 70px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .logo{
        cursor: pointer;
        text-decoration: underline;
        color: $brand-color;
        display: flex;
        gap: 0.1rem;
        img{
            width: 100%;
        }
        p{
            font-size: 2.2rem;
            margin-top: 0.4rem;
            font-family: 'Josefin Sans', sans-serif;
        }
    }

    .bo-nav-link{
        margin-top: 10px;
        display: flex;

        gap: 1.5rem;
        align-items: center;
        list-style-type: none;
        li{
            display: flex;
        }

        a{
            color: #98F1AD;
            cursor: pointer;
            &:hover{
                color: white;
            }
        }
    }
}




/************* dashboard.blade.php ******************/

.container-fluid-dashboard{
    display: flex;
    background-color: #98F1AD;
    //height: 100vh;

    .main{
        width: calc(100% - 250px);
        display: flex;
        margin-bottom: 20px;
        overflow-y: auto;
        height: 100%;
    }
}




/************* dashboard.blade.php --> LEFT SIDEBAR ******************/

.bo-sidebar{
    display: flex;
    justify-content: flex-start;
    background-color: #38A3A5;
    height: 100vh;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 250px;

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        padding: 20px;
        .bo-nav-item{
            list-style: none;
            width: 100%;

            position: relative;
            display: block;
            height: 80px;
            line-height: 80px;
            font-size: 16px;
            transition: .5s;
            padding: 0px 20px;

        }

        .bo-nav-item::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .5s;
            transform: scale(1);
            z-index: -1;
            border-radius: 10px;
        }

        .bo-nav-item:hover::before {
            transform: scale(1.1);
            box-shadow: 0 0 10px #57CC99;
            border-radius: 10px;
            }

        .bo-nav-item:hover {
            color: #1E282F;
            box-shadow: 0 0 5px #38A3A5;
            text-shadow: 0 0 5px #38A3A5;
            background-color: #98F1AD;
            border-radius: 10px;
            }

        .selected{
            background-color: red;

        }

    }


    a{
        color: #1E282F;
        padding:5px;
        display:block;
    }
}





/********************* index.blade.php *********************/

.bo-container{
    padding: 30px 0px 0 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 10px;
    //border: solid 10px #38A3A5;


    .welcome-msg{
        //background-color: #98F1AD;
        padding: 20px 0px 0 20px;
        color: #1E282F;
        font-size: 30px;

    }

    .info-restaurant-container{
        margin: 50px 20px;
        padding: 30px 20px;
        background-color: white;
        border-radius: 10px;

        .bo-restaurant-info{
            margin-top: 30px;
            span{
                color: #38A3A5;
            }
        }

        .bo-restaurant-index{
            display:flex;
            justify-content: space-between;
            margin-bottom: 20px;
            align-items: center;

            h2{
                font-size: 20px;
                font-weight: bold;
                padding: 0px 0px 0px 0;
                line-height: 20px;
            }


        }


    }
}


/**** BUTTON ****/


    .bo-btn{
        position: relative;
        background-color: #38A3A5;
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        transition: .5s;
        border: solid 1px #38A3A5;
        border-radius: 10px;
        padding: 0 20px;
        color: white;
      }

      .bo-btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
      }

    .bo-btn:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 10px #1E282F;
      }

    .bo-btn:hover {
        color: #1E282F;
        box-shadow: 0 0 5px #1E282F;
      }




/************* RESTAURANT edit.blade.php ******************/

.form-container{
    margin-top: 30px;

}

h1{
    //padding: 20px 0px 0 20px;
    color: #1E282F;
    font-size: 30px;
    line-height: 30px;
    height: 16px;
}








/************* AUTH login.blade.php ************/

.card{
    border: solid 2px #38A3A5;
    border-radius: 10px;
    .card-header{
        background-color: #98F1AD;
        border-radius: 10px;

    }

}



/**** TABLE ****/

.bo-table-th{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-radius: 5px;
    height: 70px;
    padding: 10px;
    background-color: #38A3A5;
}

.bo-table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    padding-top: 20px;
    border: solid 5px #38A3A5;
    border-radius: 10%;

    .bo-th{

        padding: 20px 15px;
        text-align: left;
    }
}

    .thead{
        .bo-th{
            background-color: red;
            height: 50px;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            padding: 20px 15px;
            text-align: left;
        }
    }





    tbody{
        background-color: white;
        vertical-align: center;
            td{
                vertical-align: middle;
                .fa-solid{
                    color: red;
                }
            }
        }




.input-box{
    .img-rest{
        padding: 10px 0;
        div{
            width: 100%;
            img{
                height: 300px;
                width: 100%;
                object-fit: cover;
                border: solid 1px #38A3A5;
                border-radius: 10px;
            }

        }
    }
}

/************* Restaurant order show.blade ************/

.order-h1{
    padding: 20px 0px 0 20px;
}

.order-details-container{
    margin: 50px 20px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    span{
        color: #38A3A5;
    }
    ul{
        li{
            margin: 10px 0;
        }
        span{
            color: #1E282F;
        }
    }

    .bo-restaurant-info{
        margin-top: 30px;
        span{
            color: #38A3A5;
        }
    }

    .bo-restaurant-index{
        display:flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        h2{
            font-size: 20px;
            font-weight: bold;
            padding: 0px 0px 0px 0;
            line-height: 20px;
        }


    }


}

.details-order-container{
    background-color: #38A3A5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-transform: uppercase;

        font-size: 16px;
        padding: 20px 0 10px 0;

    }
    .bo-table{
        border-radius: 10px;
        thead{
            background-color: #98F1AD;
        }
    }

}



.order-list-container{
    margin: 50px 20px;
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
    span{
        color: #38A3A5;
    }
    ul{
        li{
            margin: 10px 0;
        }
        span{
            color: #1E282F;
        }
    }

    .bo-restaurant-info{
        margin-top: 30px;
        span{
            color: #38A3A5;
        }
    }

    .bo-restaurant-index{
        display:flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        h2{
            font-size: 20px;
            font-weight: bold;
            padding: 0px 0px 0px 0;
            line-height: 20px;
        }


    }


}


.td-svg{
    text-align: center;
}

